<!DOCTYPE html>
<html>

<head><title>
    <%= title %>
</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/stylesheets/stylesdraw.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
    <!-- <script type="text/javascript" src="/javascripts/js_socket.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</head>

<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">Order Processing System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="profile">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <table id="example">
        <thead>
            <tr>
                <td>name</td>
                <td>email</td>
            </tr>
        </thead>
        <tbody>
            <% for(let itm of users){ %>
                <tr>

                    <td>
                        <%= itm.firstName %>
                    </td>
                    <td>
                        <%= itm.email %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>